<div class="card-user-profile">
  <%= attachment_image_tag posts.customer, :profile_image, :fill, 100, 100, fallback: "no_image.png",size: "100x100",class:"mr-4 mt-2 rounded-circle";  %>
  <%= link_to posts.customer.username, customer_path(posts.customer.id)  %>
</div>