  <div class ="container">
    <div class="box mt-3">
      <h2 class="title mt-5">食事の投稿一覧</h2>
      <div class="link mt-3">
        <span class="mr-3"><%= link_to "投稿一覧", posts_path, class:"btn btn-success" %></span>
        <span class="mr-3"><%= link_to "トレーニング一覧", posts_training_path, class:"btn btn-danger"%></span>
        <span><%= link_to "情報の共有一覧", posts_info_path, class:"btn btn-primary" %></span>
      </div>
     <%= render 'public/posts/index', posts: @posts %>
    </div>
  </div>