  <div class ="container">
    <div class="box mt-3">
      <h2 class="title mt-3">情報の共有の投稿一覧</h2>
      <div class="link mt-3">
        <span class="mr-3"><%= link_to "投稿一覧", posts_path, class:"btn btn-outline-success" %></span>
        <span class="mr-3"><%= link_to "トレーニング一覧", posts_training_path, class:"btn btn-outline-danger"%></span>
        <span><%= link_to "食事一覧", posts_eat_path, class:"btn btn-outline-warning" %></span>
      </div>
     <%= render 'public/posts/index', posts: @posts %>
    </div>
  </div>