<div class="container">
 <div class="about-content mt-3">
   <div class="about">
    <div class="card border-warning mt-3 mb-5" style="width: 30rem;">
      <div class="card-header bg-transparent border-warning">
        <h3 class="card-header-title" style="text-align: center;">ユーザーとして使う</h3>
      </div>
      <div class="card-body">
        <h4 class="card-text-title">概要</h4>
        <p class="card-text">
          ・その日のトレーニングや食事、運動に関する知識の
            記録・投稿ができます！
        </p>
      </div>
      <div class="card-body">
        <h4 class="card-text-title">どんな人におすすめ？</h4>
        <p class="card-text">
          ・トレーニング内容や食事を記録したい人</br>
          ・運動を始めたばかりでどんな運動を
            したらいいかわからない人</br>
          ・これからパーソナルトレーナーになりたくて情報発信したい人
        </p>
      </div>
      <div class="card-body">
        <h4 class="card-text-title">おすすめ機能</h4>
        <p class="card-text">
          ・体型に近い人を検索して
            自身のトレーニングメニューの参考にできます！</br>
          ・投稿に「いいね」をつけることで
            参考にした投稿を保存することができます！
        </p>
      </div>
    </div>
  </div>

  <div class="about">
    <div class="card border-danger mt-3 mb-5" style="width: 30rem;">
      <div class="card-header bg-transparent border-danger">
        <h3 class="card-header-title" style="text-align: center;">管理者として使う</h3>
      </div>
      <div class="card-body">
        <h4 class="card-text-title">概要</h4>
        <p class="card-text">
          ・施設側からの情報を発信することができます！</br>
          ・パーソナルトレーニングをする際、該当のお客様の投稿を確認してスムーズにトレーニングのアドバイスや管理ができます！
        </p>
      </div>
      <div class="card-body">
        <h4 class="card-text-title">おすすめ機能</h4>
        <p class="card-text">
          ・検索機能で該当のお客様の投稿をすぐに閲覧できます</br>
          ・動画投稿などで営業情報やおすすめ商品の投稿もできます！
        </p>
      </div>
    </div>
   </div>
  </div>
</div>
