<div class="container">
  <div class="main">
    <div class="card-about">
      <div class="card text-white bg-warning mb-3" style="max-width: 30rem; height:650px">
      <div class="card-header-about">ユーザーとして使う</div>
      <div class="card-body">
        <h5 class="card-title-about">概要</h5>
        <p class="card-text-about">
          ・その日のトレーニングや食事、運動に関する知識の
            記録・投稿ができます！
        </p>
        <h5 class="card-title-about mt-4">どんな人におすすめ？</h5>
        <p class="card-text-about">
          ・トレーニング内容や食事を記録したい人</br>
          ・運動を始めたばかりでどんな運動を
            したらいいかわからない人</br>
          ・これからパーソナルトレーナーになりたくて情報発信したい人

        </p>
        <h5 class="card-title-about">おすすめ機能</h5>
        <p class="card-text-about">
            ・体型に近い人を検索して
           自身のトレーニングメニューの参考にできます！</br>
            ・投稿に「いいね」をつけることで
           参考にした投稿を保存することができます！
        </p>
      </div>
      </div>
    </div>

   <div class="card-about">
    <div class="card text-white bg-danger mb-3" style="max-width: 30rem; height:650px">
      <div class="card-header-about">管理者として使う</div>
      <div class="card-body">
        <h5 class="card-title-about">概要</h5>
        <p class="card-text-about">
          ・施設側からの情報を発信することができます！</br>
          ・パーソナルトレーニングをする際、該当のお客様の投稿を確認してスムーズにトレーニングのアドバイスや管理ができます！
        </p>
        <h5 class="card-title-about">おすすめ機能</h5>
        <p class="card-text-about">
            ・検索機能で該当のお客様の投稿をすぐに閲覧できます</br>
            ・動画投稿などで営業情報やおすすめ商品の投稿もできます！
        </p>
      </div>
      </div>
    </div>

  </div>
</div>