  <div class ="container">
    <div class="box mt-3">
      <h2 class="admin-title mt-5">スポーツクラブからの投稿一覧</h2>
      <div class="link-genre mt-3">
      </div>

      <%= render "admin/admin_posts/index", posts: @posts %>
    </div>
  </div>