 <div class ="container">
   <!--タイトル　登録施設名一覧-->
    <div class="box mt-3 mb-3">
      <h2 class="title mt-5 mb-3">登録した施設の情報一覧</h2>
      <h4 class="mt-2" style="color:red;">登録中の施設</h4>
      <% @my_fitness_places.each do |my_fitness_places| %>
        <span class="ml-2" style="font-size:30px;">・<%= my_fitness_places.admin_user.name %><span>
      <% end %>
    </div>
    <!--登録施設詳細一覧-->
    <div class="admin-post-index mt-5">
      <% @my_fitness_places.each do |my_fitness_places| %>
        <% my_fitness_places.admin_user.admin_posts.where(is_show: true).order("id DESC").each do |posts| %>
          <div class="l-wrapper mb-3">
            <div class="card">
              <div class="card-header bg-transparent">
                <h3 class="text-danger">
                  <%= my_fitness_places.admin_user.name %>
                </h3>
              </div>
              <%= render partial: "admin/admin_posts/admin_posts_main", locals:{posts: posts} %>
              <%= render partial: "admin/admin_posts/admin_posts_footer", locals:{posts: posts} %>
            </div>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>