<% if customer_signed_in? %>
  <% if current_customer.already_favorited?(posts) %>
  <!--その投稿に対していいねがすでについているかを確認-->
    <!--ついている場合-->
    <span>
      <%= link_to post_favorites_path(posts), remote: true, method: :delete do %>
        <i class="fas fa-heart" style="color:red;"></i>
        <%= posts.favorites.count %>
      <% end %>
    </span>
  <% else %>
    <!--ついていない場合-->
    <span>
      <%= link_to post_favorites_path(posts), remote: true, method: :post do %>
        <i class="far fa-heart" style="color:silver;"></i>
        <%= posts.favorites.count %>
      <% end %>
    </span>
  <% end %>
<% end %>