.Notification {
 .notice {
   background-color: #38AEF0;
   color: #fff;
   text-align: center;
   font-size: 25px;
   line-height: 50px;
 }
 .alert {
   background-color:#FF0000;
   color: #fff;
   text-align: center;
   font-size: 25px;
   line-height: 50px;
 }
}

@media screen and (max-width: 864px){
.Notification {
 .notice {
   font-size: 12px;
   line-height: 30px;
 }
 .alert {
   font-size: 12px;
   line-height: 30px;
 }
}
}