.Notification {
 .notice {
   background-color: #38AEF0;
   color: #fff;
   text-align: center;
   height: 50px;
   font-size: 25px;
   line-height: 50px;
 }
 .alert {
   background-color:#FF0000;
   color: #fff;
   text-align: center;
   font-size: 25px;
   line-height: 50px;
 }
}