/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "simple_calendar";
 @import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
 @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 /*フォント*/
html, body{
  font-family: 'Times New Roman','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  font-size: 20px;
}

 /*ヘッダーのデザイン*/
.admin-top {

  padding-top: 10px;
  height: 100px;
  text-align: center;
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.customer-top{
  padding-top: 10px;
  text-align: center;
  height: 100px;
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}

// ログイン前のヘッダー
.header{
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.header-item,{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.header-item img{
  height: 95px;
}

.header-item a{
  color: black;
}



/*アプリ全体の背景画像 */
.mb-auto{
  //background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)),image-url("img/logo.jpg");
}

.container-fluid{
  margin-top: 30px;
  width: 80%;
  height: 100%;
}

 // 各ページのタイトル（違いが出せるように分けているが今は同じ）
 .admin-title{
   border-bottom: solid 3px black;
   display: inline-block;
   font-weight: bold;
 }

.title{
   border-bottom: solid 3px black;
   display: inline-block;
   font-weight: bold;
 }

//要素を中央にするときに使用
 .box{
   text-align: center;
 }

//フォームのラベル
 .label{
   color: red;
   font-size: 20px;
 }

/*ページネーションのデザイン */

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  margin-right: 5px;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}


/*いいねした投稿のサンプル画像 */
.favorite-sample_image{
  width: 90%;
  height: 700px;
  background-image: image-url("img/new_favorite_sample.png");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}


/*ボタン*/
.btn-warning{
  font-weight: bold;
}

.btn-success{
  font-weight: bold;
}

.btn-danger{
  font-weight: bold;
}

.btn-primary{
  font-weight: bold;
}



/*カード*/
.card-text-title{
  background: linear-gradient(transparent 60%, yellow 50%);
  display: inline-block;
  text-align: center;
}


.border-dark{
  border-width: 3px;
  margin: 0 auto;
}

.border-danger{
  border-width: 3px;
}

.border-warning{
  border-width: 3px;
}

.border-success{
  border-width: 3px;
  text-align: center;
}




/*device関係*/
.title-down{
   background-color: #FFAAFF;
   display: inline-block;
   margin-top: 80px;
   font-weight: bold;
}

.down-small{
    padding-bottom: 200px
}
.down{
    padding-bottom: 300px
}

.down-more{
    padding-bottom: 400px
}

.down-more-all{
    padding-bottom: 700px
}

.admin-title-down{
   background-color: #FFCC00;
   display: inline-block;
   font-weight: bold;
   margin-top: 80px;
 }

/*YouTube動画のレスポンシブ関係*/
 .youtube{
    position:relative;
    width:100%;
    height:0;
    padding-top:75%;
}

.youtube iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*画像のレスポンシブ*/
 .attachment.admin_post.image{
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .attachment.admin_user.image{
    width: 100%;
    max-width: 100%;
    height: auto;
  }

/*画像のレスポンシブ*/
 .link-genre{
    display: flex;
    justify-content: center;
  }

/*画像の表示のスライダー*/
.slider{
  width: 70%;
  height: 70%;
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
    color: red;
}

/*フォームの大きさ*/
input[type="text"] {
  width: 50%;
  height: 25px;
    }

.body {
  width: 50%;
  height: 100%;
  padding-bottom: 40px;
    }

/*フッター*/
footer {
  width: 100%;
  height: 90px;
  text-align: center;
  background-color: #848282;
  padding-top: 15px;
  margin-top: 100px;
}

.footer-text {
  color: #fff;
}


/*レスポンシブ対応*/
@media screen and (max-width: 991px){

  html, body{
    font-size: 16px;
   }


  .navbar{
     text-align: center;
  }

  .navbar-nav{
    flex-direction: row;
    margin-bottom: 20px;
  }

  .nav-item{
     margin-top:10px;

　.btn-outline-light{
    border-width: 0,1px;
    font-size: 2px;
}
 }

}

@media screen and (max-width: 765px){
  .navbar-expand-lg-customer{
    height: 200px;
  }

  .input[type="text"] {
    width: 70%;
  }

  .body{
    width: 70%;
  }

  .dropdown{
    width: 70%;
  }
}

@media screen and (max-width: 864px){
// ヘッダーとフッターの帯の高さ
.admin-top {
  height: 120px;
 }

.customer-top{
  height: 120px;
 }

.before-login-top{
   height: 120px;
}

footer{
  height: 50px;
  padding-top: 10px;
}

}

@media screen and (max-width: 500px){
// ヘッダーとフッターの帯の高さ
.admin-top {
  height: 180px;
 }

.customer-top{
  height: 180px;
 }

.before-login-top{
   height: 200px;
}
}


