// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.label-name{
   color:block;
   font-size:20px;
 }

.profile-side{
  width: 30%;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 20px;
}

.profile-main{
  width: 60%;
  margin-top: 20px;
}

.profile-box{
  display: flex;
}