// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.label-name{
   color: block;
   font-size: 20px;
 }

.profile-side{
  width: 30%;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 20px;
}

.profile-main{
  width: 60%;
  margin-top: 20px;
}

.profile-box{
  display: flex;
  border: 1px solid #dee2e6;
}

.tab-box{
  border: 1px solid #dee2e6;
}

#nav-tab.nav.nav-tabs{
  border: 0px;
}


// 各ページのリンク
.mypage-contents-line{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.box-blue {
    text-align: center;
    width: 262px;
    padding: 0.5em 1em;
    margin: 5px;
    border: double 5px #4ec4d3;
}
.box-blue p {
    margin: 0;
    padding: 0;
}

.box-green {
    text-align: center;
    width: 262px;
    padding: 0.5em 1em;
    margin: 5px;
    border: double 5px #33FF33;
}
.box-green p {
    margin: 0;
    padding: 0;
}

.box-red {
    text-align: center;
    width: 262px;
    padding: 0.5em 1em;
    margin: 5px;
    border: double 5px red;
}
.box-red p {
    margin: 0;
    padding: 0;
}



// リンク（円）のデフォルト（位置調整なし　青）
.btn-circle-border-double {
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  color: #4ec4d3;
  width: 120px;
  height: 120px;
  line-height: 100px;
  border-radius: 50%;
  border: double 4px #4ec4d3;
  text-align: center;
  overflow: hidden;
  transition: .6s;
}

.btn-circle-border-double:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.btn-circle-border-double a{
  font-size: 50px;
  margin-left: 7px;
}

// お気に入り投稿のボタン(位置の調整)
.btn-circle-border-double-favorite {
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  color: #4ec4d3;
  width: 120px;
  height: 120px;
  line-height: 110px;
  border-radius: 50%;
  border: double 4px #4ec4d3;
  text-align: center;
  overflow: hidden;
  transition: .6s;
}

.btn-circle-border-double-favorite:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.btn-circle-border-double-favorite a{
  font-size: 50px;
}

// リンク（円）のデフォルト（位置調整なし　緑）
.btn-circle-border-double-green {
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  color: #33FF33;
  width: 120px;
  height: 120px;
  line-height: 110px;
  border-radius: 50%;
  border: double 4px #33FF33;
  text-align: center;
  overflow: hidden;
  transition: .6s;
}

.btn-circle-border-double-green:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.btn-circle-border-double-green a{
  font-size: 50px;
}

// リンク（円）のデフォルト（位置調整なし　赤）
.btn-circle-border-double-red {
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  color: red;
  width: 120px;
  height: 120px;
  line-height: 110px;
  border-radius: 50%;
  border: double 4px red;
  text-align: center;
  overflow: hidden;
  transition: .6s;
}

.btn-circle-border-double-red:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.btn-circle-border-double-red a{
  font-size: 50px;
}


// ボタンの中の説明文
.mypage-btn-discription{
  font-size: 15px;
}


.main-title{
  margin-top: 50px;
}

.main-title-center{
  margin-top: 80px;
  text-align: center;
}

// プロフィールタブのカルテ、メッセージ
.tab-box .karute-img{
  background-image: image-url("img/karute-image.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
}
.tab-box .message-img{
  background-image: image-url("img/sample2.jpg");
  background-position: top;
  background-size: cover;
  height: 400px;
}


.karute-img-text-area, .message-img-text-area{
  width: 100%;
  height: 400px;
  background-color: rgba( 0, 0, 0, 0.5);
  position: relative;
}

.karute-img-text, .message-img-text{
  padding-top: 150px;
  text-align: center;
  color: white;
}

.karute-img-text-attention, .message-img-text-attention{
  color: white;
  position: absolute;
  bottom: 1px;
  right: 5px;
}


// マイページの投稿一覧
.mypage-post{
  text-align: center;
}

.mypage-post-index{
  display: flex;
  flex-wrap: wrap;
}

.mypage-post-index .l-wrapper {
  margin: 1rem auto;
  width: 500px;
}

.l-wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 34px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  transition: all .5s;
}
.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.card-content {
  padding: 8px 20px 20px;
}
.card-title a{
  font-size: 30px;
  color: #4f96f6;
  font-weight: 700;
}
.card-title{
  font-size: 30px;
  font-weight: 700;
}
.card-text {
  font-size: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}



.mypage-post-index .card-link a {
  text-decoration: none;
  color: #4f96f6;
  margin: 0 10px;
}


.card-user-profile a{
  font-size: 25px;
}

.post-genre{
  margin-top: 20px;
}

.post-genre-link a{
  margin-top: 10px;
  font-size: 30px;
  color: #4f96f6;
}